::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.heading {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.supplier-edit-section-wrapper {
  background-color: white;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  .edit-section {
    .card-sec {
      padding: 20px 0;
      border-bottom: 1px solid rgb(214, 214, 214);
      .customer-info-icon-wrapper {
        padding: 3px 9px;
        svg {
          height: 29px !important;
          width: 21px !important;
        }
      }
      .customer-info-text {
        padding: 0px 10px;
      }
    }
  }
}

.add-customer-btn-wrapper {
  position: absolute;
  bottom: 10px;
  padding: 30px;
  width: 100%;
  .delete-btn {
    width: 100%;
    background-color: #fee4e2;
    padding: 10px;
    border-radius: 8px;
    transition: all 400ms ease-in;
    border: 1px solid #dc2626;
  }
  .delete-btn:hover {
    background-color: #dc2626;
    color: white;
  }
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  margin-top: 0 !important;
}

.supplier-edit-btn-wrapper {
  position: relative;
  bottom: 10px;
  padding: 10px;
  width: 100%;
  .supplier-edit-btn {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    transition: all 400ms ease-in;
    border: 1px solid gray;
  }
  .supplier-edit-btn:hover {
    background-color: gray;
    color: white;
  }
}

.back-btn-wrapper {
  width: 110px;
  position: relative;
  padding: 10px;
}

.heading {
  padding: 10px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.section-wrapper-2 {
  background-color: white;
  padding-bottom: 70px;
  margin: 0 auto;
  overflow-y: scroll;
  height: calc(100vh - 87px - 53px);
  .section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form {
      flex-direction: column;
      padding: 30px;
      svg {
        position: static;
      }
      .box-sec {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        margin-top: 22px;
        .sec-1 {
          margin-right: 10px; // city
        }
        .sec-2 {
          margin-left: 10px; //state
        }
      }
      .check-box-sec {
        align-items: center;
      }
    }
  }
}

.add-supplier-btn-wrapper1 {
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 340px;
  position: absolute;
  bottom: 10px;
  button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #fee4e2;
    transition: all 400ms ease-in;
  }
  button:hover {
    background-color: rgb(220, 38, 38);
    color: white;
  }
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  margin-top: 0 !important;
}
