.cashright {
  width: 100%;
  .cashCard {
    .cnt {
      .editndel {
        .edit {
          border: 1px solid #2563eb;
          transition: all 400ms ease-in-out;
        }
        .del {
          border: 1px solid #dc2626;
          transition: all 400ms ease-in-out;
        }
      }
    }
  }
}
