.right{
    .customer{
        padding: 10px;
    }
    .heading{
        padding: 30px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;
        font-size: 19px;
    }
    .transactions{
        height: calc(100vh - 395px);
        overflow-y: scroll;
    }
    .btn{
        width: 100%;
        display: flex;
        padding: 20px;
        gap: 30px;
        
        .pay{
            width: 50%;
            background-color: #fee4e2;
            padding: 10px;
            border-radius: 8px;
            transition: all 400ms ease-in;
        }
        .receive{
            width: 50%;
            padding: 10px;
            border-radius: 8px;
            background-color:#D1FADF;
            transition: all 400ms ease-in;

        }
        .pay:hover{
            background-color: rgb(220 38 38);
            color: white;
        }
        .receive:hover{
            background-color: #39B366;
            color: white;
        }
    }
}