.exleft {
  width: 100%;
  .transactions {
    height: calc(100vh - 365px);
    overflow-y: scroll;
  }
  .expbtn {
    button {
      border: 1px solid #37ab87;
      transition: all 400ms ease-in-out;
    }
  }
}
